kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "cortex-os.fullname" $ }}-configenv
data:
  {{- if (index .Values "cortex-os-rag-api" "enabled") }}
  RAG_API_URL: http://{{ include "rag.fullname" (index .Subcharts "cortex-os-rag-api") | lower }}.{{ .Release.Namespace | lower }}.svc.cluster.local:8000 
  {{- end }}
  {{- if and (not (dig "configEnv" "MEILI_HOST" "" .Values.cortex-os)) .Values.meilisearch.enabled }}
  MEILI_HOST: http://{{ include "meilisearch.fullname" .Subcharts.meilisearch }}.{{ .Release.Namespace | lower }}.svc.cluster.local:7700
  {{- end }}
  {{- if and (not (dig "configEnv" "MONGO_URI" "" .Values.cortex-os)) .Values.mongodb.enabled }}
  MONGO_URI: mongodb://{{ include "mongodb.service.nameOverride" .Subcharts.mongodb }}.{{ .Release.Namespace | lower }}.svc.cluster.local:27017/Cortex OS
  {{- end }}
  {{- if and (not (dig "configEnv" "USE_REDIS" "" .Values.cortex-os)) .Values.redis.enabled }}
  USE_REDIS: "true"
  {{- end }}
  {{- if and (not (dig "configEnv" "REDIS_URI" "" .Values.cortex-os)) .Values.redis.enabled }}
  REDIS_URI: redis://{{ include "common.names.fullname" .Subcharts.redis }}-master.{{ .Release.Namespace | lower }}.svc.cluster.local:6379
  {{- end }}
  {{- if .Values.cortex-os.configEnv }}
  {{- toYaml .Values.cortex-os.configEnv | nindent 2 }}
  {{- end }}